<!DOCTYPE html>
<html>
<head>
	<title>SudesteColor</title>
</head>
<body>
{% for produto in produtos %}
	
	<p>
	{% if produto.aberto %}
		<span><input type="checkbox" name="car"></span>		
	{% endif %}
	{{ produto.descricao }} -
	<select id="id_tipo{{ produto.pk }}" name="tipo">
	{% for p in produto.get_precos %}
		<option value="{{ p.pk }}">{{ p.descricao }}</option>
	{% endfor %}
	</select>
	{% if produto.minimo_permitido %}
		- Quantidade: 
		<input id="id_preco{{ produto.pk }}" name="preco" step="any" type="number" value="{{ produto.minimo_permitido }}" required />
	{% endif %}
	</p>	
	<p>-----------------------------------------------</p>
{% empty %}
	<p>Sem produtos cadastrados</p>
{% endfor %}

</body>
</html>